.ClientDetails{
    width: 698px;
    height: 451px;
    background-color: white;
    position: absolute;
    left: 400px;
    bottom: 13%;
    border-radius: 8px;
    display: none;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.clientDetailsContainer{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.ClientDetails.expanded {
    display: flex;
    padding-right: 0;
}
.clientHeaderButton{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}
.clientHeader h2{
    font-size: 19px;
    font-weight: 700;
}


.truckNameStatus{
    margin-top: 10px;
    width: 204px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.truckName{
    font-size: 13px;
    font-weight: 400;
}
.nameStatusDivider{
    width: 2px;
    height: 18px;
    background-color: black;
}
.truckStatus{
    width: 87px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.statusDetails{
    font-size: 13px;
    font-weight: 400;
    color: #2185D0;
}

.tabContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.companyNameImg{
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

 .active-comp .companyImg .img-comp{
    border: 2px solid black;
    border-radius: 50%;
}
 .companyImg .img-comp{
    border:none;
}

.companyImg{
    position: relative;
}
.cancelBtn{
    position: absolute;
    top: 0;
    left: 75%;
}
.companyNameImgContainer{
    width: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.companyDetailsName{
    font-size: 13px;
    font-weight: 400;
}

.dividerUnderline{
    width: 100%;
    background-color: #D8D8DA;
    height: 1px;
    margin: 20px 0px;
}

.clientDetailsContainer2{
    width: 90%;
    height: auto;
}


.singleCompanyDetails{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 57px;
   
}
.mainCompanyImg{
    width: 91px;
    height:53px;
    background-color: #D9D9D9;
    border-radius: 8px;
}
.mainComapnyDetails{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
  
}
.mainComapnyDetails h2{
    font-size: 19px;
    font-weight: 700;
    align-items: flex-start;
}
.mainComapnyDetails p{
    color:#2185D0;
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 5px;
}

.companyAddress h4{
    margin-top: 20px;
    color: #5E5E62;
    font-weight: 400;
    font-size: 14px;
}
.companyAddress h3{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.RegistrationDetails{
    display: flex;
   margin-top: 20px;
}
.registrationCity h4{
    color: #5E5E62;
    font-weight: 400;
    font-size: 14px;
}
.registrationState{
    margin-left: 70px;
}
.registrationState h4{
    color: #5E5E62;
    font-weight: 400;
    font-size: 14px;
}

.registrationCity h3{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.registrationState h3{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}